/* TABLET */
@media only screen and (min-width: 720px) and (max-width: 1365.999px) {
    :root  {
        --content-padding: 56px;
        --content-width: 720px;
        --h-space-sm-desktop: 0;
        --h-space-lg-desktop: 0;
        --video-width: 590px;
        --img-card-width: var(--video-width);
    }

    .content-section {
        position: relative;
        margin: auto;
        padding-bottom: 120px;
    }

    h1 {
        font-size: 3.2rem;
        width: 400px;
    }
    h2 {
        font-size: 2rem;
    }

    .video-player {
        margin: 100px auto;
        display: block;
    }

    .box-sm {
        margin: auto;
    }
    .box-wrapper {
        width: min-content;
    }

    .kost {
        width: calc(450px - 33px * 2);
    }
    .kost:not(:last-child) {
        margin-bottom: 100px;
    }

    .workshop-section h2 {
        text-align: center;
        left: 0px;
    }

    .team-pic-wrapper {
        position: relative;
        display: flex;
        width: fit-content;
        margin: 0 auto;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
    }

    .team-pic2 {
        position: relative;
        background: #fff;
        width: 258px;
        height: 376px;
        background-image: url(code-for-kids-team10/img/isis.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

